USE [master]
GO
/****** Object:  Database [dbOgrenciKayit]    Script Date: 5.07.2025 22:20:13 ******/
CREATE DATABASE [dbOgrenciKayit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbOgrenciKayit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbOgrenciKayit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbOgrenciKayit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbOgrenciKayit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbOgrenciKayit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbOgrenciKayit]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5.07.2025 22:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [varchar](50) NULL,
	[parola] [varchar](50) NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDers]    Script Date: 5.07.2025 22:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDers](
	[dersKodu] [int] IDENTITY(1,1) NOT NULL,
	[dersAdi] [varchar](50) NULL,
 CONSTRAINT [PK_tblDers] PRIMARY KEY CLUSTERED 
(
	[dersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOgrenci]    Script Date: 5.07.2025 22:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOgrenci](
	[ogrNo] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[dogumTarih] [date] NULL,
	[adres] [varchar](100) NULL,
	[telefon] [varchar](50) NULL,
	[dersID] [int] NULL,
	[Ortalama] [int] NULL,
 CONSTRAINT [PK_tblOgrenci] PRIMARY KEY CLUSTERED 
(
	[ogrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([ID], [kullaniciAdi], [parola]) VALUES (1, N'KeremOgzhn', N'parola123')
INSERT [dbo].[login] ([ID], [kullaniciAdi], [parola]) VALUES (2, N'ahmet_y', N'sifre456')
INSERT [dbo].[login] ([ID], [kullaniciAdi], [parola]) VALUES (3, N'zeynep_k', N'gucluSifre!')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDers] ON 

INSERT [dbo].[tblDers] ([dersKodu], [dersAdi]) VALUES (1, N'Matematik')
INSERT [dbo].[tblDers] ([dersKodu], [dersAdi]) VALUES (2, N'Fizik')
INSERT [dbo].[tblDers] ([dersKodu], [dersAdi]) VALUES (3, N'Kimya')
SET IDENTITY_INSERT [dbo].[tblDers] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOgrenci] ON 

INSERT [dbo].[tblOgrenci] ([ogrNo], [ad], [soyad], [dogumTarih], [adres], [telefon], [dersID], [Ortalama]) VALUES (1, N'Ali', N'Yılmaz', CAST(N'2005-04-12' AS Date), N'İstanbul, Kadıköy', N'5551112233', 1, 85)
INSERT [dbo].[tblOgrenci] ([ogrNo], [ad], [soyad], [dogumTarih], [adres], [telefon], [dersID], [Ortalama]) VALUES (2, N'Ayşe', N'Kaya', CAST(N'2006-08-21' AS Date), N'Ankara, Çankaya', N'5554445566', 2, 92)
INSERT [dbo].[tblOgrenci] ([ogrNo], [ad], [soyad], [dogumTarih], [adres], [telefon], [dersID], [Ortalama]) VALUES (3, N'Mehmet', N'Demir', CAST(N'2005-11-30' AS Date), N'İzmir, Bornova', N'5557778899', 1, 78)
SET IDENTITY_INSERT [dbo].[tblOgrenci] OFF
GO
ALTER TABLE [dbo].[tblOgrenci]  WITH CHECK ADD  CONSTRAINT [FK_tblOgrenci_tblDers] FOREIGN KEY([dersID])
REFERENCES [dbo].[tblDers] ([dersKodu])
GO
ALTER TABLE [dbo].[tblOgrenci] CHECK CONSTRAINT [FK_tblOgrenci_tblDers]
GO
USE [master]
GO
